<div class="main">
  <h2>COACHING SESSION</h2>
  
  <div class="dialog">
    <p>Coach, <%= @answer %></p>
    <p> <em>- You</em></p>
  </div>
  
  <div class="dialog">
    <p><%= @coach_response %></p>
    <p> <em>- Your coach</em></p>
  </div>
  
  <div class="footer">
    <%= link_to "Back to Ask Page", ask_path %>
  </div>
</div>
