<div class="container">
  <h1>VIEW DA ANSWER</h1>
  <h2>STUPID COACH</h2>
  
  <p>A palavra digitada pelo usuário foi: <%= @answer %></p>
  
  <p>A resposta do coach foi: <%= @coach_response %></p>
  
  <%= link_to "Back to Ask page", ask_path %>
</div>