// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$gray: #F4F4F4;

body {
  background: $gray; // Using this variable
  font-family: sans-serif
}

.main {
  margin-left: 20px;
  margin-top: 8px;
}

.dialog {
  max-width: 400px;
  border-left-style: solid;
  border-color: grey;
  border-width: 8px;
  padding: 4px;
  margin-bottom: 4px;
  background-color: rgb(230, 230, 230);
}

.footer {
  margin-top: 8px;
}